nav>ul {
    list-style-type: square;
}

nav>ol {
    list-style-type: upper-roman;
}

a {
    text-decoration: none;
}

a:hover {
    color: purple;
    font-style: oblique;
    text-decoration: underline;
}

main ul#pluses {
    list-style-image: url(../img/galka.png);
}

.content {
    background-color: rgba(0, 255, 255, 0.8);
    position: relative;
    width: 80%;
    flex: 1 0 auto;
    margin: 0 auto;
    text-align: left;
    border-radius: 10px;
    font-family: "Comic Sans MS", serif;
    padding: 20px 40px 20px 40px;
}

html {
    background-image: url(../img/Bga.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-size: cover;
}

.post-img {
    width: 60%;
    border-radius: 10px;
    margin-right: 100%;
}


.quote {
    font-family: "Bell MT", sans-serif;
    font-style: italic;
    padding: 10px 10px 10px 20px;
    background-color: rgba(0, 128, 128, 0.8);
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 90%;
}

